
<div class='dynamicComponent' data-ng-controller="dynamicComponentController">
	<h4 style="color:blue">{{model.text}}</h4>
	<h4 style="color:grey"><%= model %></h4>
	<div class='demoWidgetCtner' data-ng-controller='_scopeCtrl' 
				data-ng-include='"/html/widgets/demoWidget.html"' data-ng-init='model=internalModel'>
	</div>
	<h3 style='color:red'>{{cfg}}</h3>
</div>